<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%= pageDescription %>">
    
    <!-- NUEVA LÍNEA PARA EL ICONO -->
    <link rel="icon" href="/img/icono.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <h1><a href="/">Gestión Relativa</a></h1>
        <p><h2>La forma de alcanzar metas inciertas</h2></p>
    </header>
    <main class="container">